body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-div{
  background-color:#283350;
  color:  #FFB500;
  font-weight: bold;
  width: 70%;
  text-align: center;
  padding: 0.5rem;


}
.form{
  justify-content:center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.error{
  background-color:#F93800;
  color: #FFB500;
  padding:0.25rem;
  margin-top:10px;
}
.container{
  display: flex;
  justify-content:center;
}
.jumbo{
  background-color:#283350 !important;
  color: #FFB500;
  font-weight: bold;
    width: 100%;
    border: 2px solid #F93800;
    /* align-self: center; */

}
.jumbo-span{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.jumbo-span > p{
  margin: 1rem;
}
hr{
  background-color:#F93800;
}
.flash{
  background-color:#F93800;
  padding:0.5rem;
}

