*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-div{
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;


}
.form{
  background-color:#283350;
  color:  #FFB500;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  width:35.3%;


}
.error{
  background-color:#F93800;
  color: #FFB500;
  padding:0.25rem;
  margin-top:10px;
}
.container{
  display: flex;
  justify-content:center;
}
.jumbo{
  background-color:#283350 !important;
  color: #FFB500;
  font-weight: bold;
    width: 100%;
    border: 2px solid #F93800;
    /* align-self: center; */

}
.jumbo-span{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.jumbo-span > p{
  margin: 1rem;
}
hr{
  background-color:#F93800;
}
.flash{
  background-color:#F93800;
  padding:0.5rem;
}

.products-container{
  display:flex;
  flex-wrap: wrap;

}
.badge{
  background-color: #F93800 !important;
  color: #283350 !important;
  font-family: Arial;
  width: 42%;
}

/* ============================================== */

.card-wrapper{
  height:50%;
  width:35%;
  margin: 50px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 15px;
  background-color: #283350;
}

.product-img-wrapper{
  width:50%;
  height:100%;
}
.product-img{
  width:12em;
  border-radius: 7px ;
}

.product-title{
  color:#F93800;
  background-color:#FFB500;
  padding:0.5rem;
  font-weight:bold;
  border-radius:7px;

}
.product-descripition{

  /* #283350; */
  color:#ffffff;
  background-color:#F93800;
  padding:0.5rem;
  border: solid 1px white;
  font-display: block;
  border-radius:7px;

}

.product-price-buy{
  padding:0.5rem;
  display: flex;
  align-items: center;
  justify-content:center;
}
.product-price-buy >button {
  padding:0.5rem;
  color: white;
  background-color:#F93800;
  border-radius: 10px;
  margin:0.25rem;
  transition: background-color 0.3s
}
.product-price-buy >b{
  color: #000000;
  background-color:#FFB500;
  padding:0.25rem;
  border-radius: 5px;


}
.product-price-buy >button:hover {
  background-color:#FFB500;
}
.alert{
  color: #FFFFFF !important;
  font-weight: bold;
  margin-top: 0.25rem;
}
.orders-alert{
  background-color: #FFB500 !important;
  font-weight: bold !important;
  font-size: larger;
  margin-top: 0.25rem;
  color:#283350 !important;
  z-index: -1;
}

@media all and (max-width: 375){
  .card-wrapper{
    /* margin: 50px auto; */
    display: block;
    border-radius: 15px;
    background-color: #283350;
  }
  .product-img-wrapper{
    width:50%;
    height:100%;
  }
  /* .product-img{
    width:12em;
    border-radius: 7px ;
  } */
}
/* ============================================== */

.cart-ul{
  /* margin: 0.5rem; */
  list-style: none;

}
.cart-product{
  display: flex;
  justify-content: baseline;
  align-items: center;
  border: solid 2px #000000;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  width: 80%;
  font-weight: bold;
  background-color: #FFB500;
  color: #FFFFFF
}
.wishlist-product{
  display: flex;
  justify-content: baseline;
  align-items: center;
  border: solid 2px #000000;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  width: 80%;
  font-weight: bold;
  background-color: #283350;
  color: #FFFFFF
}
.cart-ul > li{
  list-style: none;
}
.cart-image {
  width: 33.3%
}
.cart-image > img {
  width: 33.3%
}
.cart-title{
  margin-right: 1.5rem;
}
.cart-btns{
  margin-left: 0.5rem;

}
.cart-btns > button{
  margin: 0.5rem;
  background-color: #F93800;
  color: #FFFFFF;
  transition: all 0.7s;
  border-radius: 5px;
}
.cart-btns > button:hover{
  background-color: #283350;
  color: #F93800;

}
.wishlist-btns > button{
  margin: 0.5rem;
  background-color: #FFB500;
  color:#F93800;
  transition: all 0.7s;
  border-radius: 5px;

}
.wishlist-btns > button:hover{
  background-color: #F93800;
  color: #283350;

}
.total-span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}
.total-span > button{
  margin-top: -0.5rem;
  margin-right: 0.5rem;
  background-color: #F93800;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 0.5rem;

}
.empty-cart{
  background-color:#FFB500;
  color: #283350;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}



